.container {
    background-color: #f5f5f5;
    font-family: 'Times New Roman', serif;
    padding: 20px;
  }
  
  .float-right {
    float: right;
    width: 200px;
    margin-left: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
  }
  
  .hobbies-photos {
    display: flex;
    justify-content: center;
    gap: 30px; 
    margin-top: 10px;
  }
  
  .hobby-img {
    height: 250px; 
    width: auto; 
    border-radius: 12px;
    object-fit: cover; 

  }
    .exp-photos {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      column-gap: 120px; 
      margin-top: 10px;
    }
    
  .exp-img {
    height: 250px; 
    width: auto; 
    border-radius: 5px;
    object-fit: cover; 
    margin-right: 50px; 

  }
  
  